<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rpipw-buzzer</title>
    <style>
        h1, input {
            font-size: 128px;
        }
    </style>
</head>
<body>
    <h1>Current action: {{ action }}</h1>
    <form action="/" method="post">
        <input type="hidden" name="action" value="beep">
        <input type="submit" value="Make sound">
    </form>
    <form action="/" method="post">
        <input type="hidden" name="action" value="do_nothing">
        <input type="submit" value="Be quiet">
    </form>
    <form action="/" method="post">
        <input type="hidden" name="action" value="kill">
        <input type="submit" value="Kill client">
    </form>
</body>
</html>
